In [2]:
import pandas as pd
import os
from dotenv import load_dotenv
import requests
import json
import quandl
%matplotlib inline

In [3]:
load_dotenv()

True

In [5]:
quandl.ApiConfig.api_key = os.getenv('QUANDL_API_KEY')
type(quandl_api_key)

str

In [37]:
data = quandl.get("EIA/NG_RNGWHHD_D", start_date='2020-10-31')

In [45]:
queries = {
    'Commodity':[
        'Cushing, OK WTI Spot Price FOB, Daily',
        'New York Harbor Reformulated RBOB Regular Gasoline Future Contract 1, Daily',
        'New York Harbor Ultra-Low Sulfur No 2 Diesel Spot Price, Daily',
        'Henry Hub Natural Gas Spot Price, Daily',
        'Gold Price: London Fixing',
        'Silver Price: London Fixing'
    ],
    
    'Data Link Code':[
        'EIA/PET_RWTC_D',
        'EIA/PET_EER_EPMRR_PE1_Y35NY_DPG_D',
        'EIA/PET_EER_EPD2DXL0_PF4_Y35NY_DPG_D',
        'EIA/NG_RNGWHHD_D',
        'LBMA/GOLD',
        'LBMA/SILVER'
    ]
}

In [46]:
queries_df = pd.DataFrame(queries)

In [47]:
queries_df

,Commodity,Data Link Code
0,"Cushing, OK WTI Spot Price FOB, Daily",EIA/PET_RWTC_D
1,New York Harbor Reformulated RBOB Regular Gaso...,EIA/PET_EER_EPMRR_PE1_Y35NY_DPG_D
2,New York Harbor Ultra-Low Sulfur No 2 Diesel S...,EIA/PET_EER_EPD2DXL0_PF4_Y35NY_DPG_D
3,"Henry Hub Natural Gas Spot Price, Daily",EIA/NG_RNGWHHD_D

In [41]:
data

            Value
Date
2020-11-02   3.03
2020-11-03   2.88
2020-11-04   2.63
2020-11-05   2.69
2020-11-06   2.67
...           ...
2021-10-27   5.91
2021-10-28   5.68
2021-10-29   5.49
2021-11-01   5.22
2021-11-02   5.33

[253 rows x 1 columns]