In [5]:
import pandas as pd
import os
from dotenv import load_dotenv
import requests
import json
import quandl
%matplotlib inline

In [6]:
load_dotenv()

True

In [7]:
quandl.ApiConfig.api_key = os.getenv('QUANDL_API_KEY')

In [8]:
data = quandl.get("EIA/NG_RNGWHHD_D", start_date='2020-10-31')

In [9]:
queries = {
    'Commodity':[
        'Cushing, OK WTI Spot Price FOB, Daily',
        'New York Harbor Reformulated RBOB Regular Gasoline Future Contract 1, Daily',
        'New York Harbor Ultra-Low Sulfur No 2 Diesel Spot Price, Daily',
        'Henry Hub Natural Gas Spot Price, Daily',
        'Gold Price: London Fixing',
        'Silver Price: London Fixing'
    ],
    
    'Data Link Code':[
        'EIA/PET_RWTC_D',
        'EIA/PET_EER_EPMRR_PE1_Y35NY_DPG_D',
        'EIA/PET_EER_EPD2DXL0_PF4_Y35NY_DPG_D',
        'EIA/NG_RNGWHHD_D',
        'LBMA/GOLD',
        'LBMA/SILVER'
    ]
}

In [10]:
queries_df = pd.DataFrame(queries)

In [11]:
queries_df

,Commodity,Data Link Code
0,"Cushing, OK WTI Spot Price FOB, Daily",EIA/PET_RWTC_D
1,New York Harbor Reformulated RBOB Regular Gaso...,EIA/PET_EER_EPMRR_PE1_Y35NY_DPG_D
2,New York Harbor Ultra-Low Sulfur No 2 Diesel S...,EIA/PET_EER_EPD2DXL0_PF4_Y35NY_DPG_D
3,"Henry Hub Natural Gas Spot Price, Daily",EIA/NG_RNGWHHD_D
4,Gold Price: London Fixing,LBMA/GOLD
5,Silver Price: London Fixing,LBMA/SILVER

In [12]:
commodities = [queries_df['Data Link Code']]

In [13]:
commodities

[0                          EIA/PET_RWTC_D
 1       EIA/PET_EER_EPMRR_PE1_Y35NY_DPG_D
 2    EIA/PET_EER_EPD2DXL0_PF4_Y35NY_DPG_D
 3                        EIA/NG_RNGWHHD_D
 4                               LBMA/GOLD
 5                             LBMA/SILVER
 Name: Data Link Code, dtype: object]

In [14]:
oil = quandl.get('EIA/PET_RWTC_D', start_date='2020-10-31')
oil = oil.rename(columns={'Value': 'oil'})

In [15]:
gasoline = quandl.get('EIA/PET_EER_EPMRR_PE1_Y35NY_DPG_D', start_date='2020-10-31')
gasoline = gasoline.rename(columns={'Value': 'gasoline'})

In [16]:
diesel = quandl.get('EIA/PET_EER_EPD2DXL0_PF4_Y35NY_DPG_D', start_date='2020-10-31')
diesel = diesel.rename(columns={'Value': 'diesel'})

In [17]:
ng = quandl.get('EIA/NG_RNGWHHD_D', start_date='2020-10-31')
ng = ng.rename(columns={'Value': 'ng'})

In [18]:
gold = quandl.get('LBMA/GOLD', start_date='2020-10-31')
gold = gold.rename(columns={'USD (PM)': 'gold'})

In [19]:
silver = quandl.get('LBMA/SILVER', start_date='2020-10-31')
silver = silver.rename(columns={'USD': 'silver'})

In [20]:
closing_prices_df = pd.DataFrame()

In [21]:
closing_prices_df = pd.concat([oil, gasoline, diesel, ng, gold, silver], axis=1)
closing_prices_df = closing_prices_df.drop(columns=['USD (AM)', 'GBP (AM)', 'EURO (AM)', 'EURO (PM)', 'GBP (PM)', 'GBP', 'EURO'])

In [21]:
closing_prices_df_csv_data = closing_prices_df.to_csv('data/rawdata/commodity_prices.csv')

In [22]:
closing_prices_df

             oil  gasoline  diesel    ng     gold  silver
Date
2020-11-02  3.03     1.052   1.113  3.03  1889.90  23.975
2020-11-03  2.88     1.077   1.132  2.88  1908.30  24.170
2020-11-04  2.63     1.108   1.167  2.63  1900.15  23.975
2020-11-05  2.69     1.116   1.162  2.69  1938.45  24.570
2020-11-06  2.67     1.084   1.145  2.67  1940.80  25.780
...          ...       ...     ...   ...      ...     ...
2021-11-02  5.33     2.450   2.510  5.33  1790.45  23.865
2021-11-03   NaN       NaN     NaN   NaN  1763.45  23.580
2021-11-04   NaN       NaN     NaN   NaN  1796.15  23.730
2021-11-05   NaN       NaN     NaN   NaN  1801.85  23.820
2021-11-08   NaN       NaN     NaN   NaN  1822.35  24.280

[263 rows x 6 columns]