In [84]:
import pandas as pd
from pathlib import Path
%matplotlib inline

In [85]:
#Import commodity prices into dataframe from CSV
commodity_price_df = pd.read_csv(
    Path('../../data/rawdata/commodity_prices.csv'),
    index_col='Date',
    parse_dates=True,
    infer_datetime_format=True
)


#Check dataframe and data types

display(commodity_price_df.head())
commodity_price_df.dtypes

              oil  gasoline  diesel    ng     gold  silver
Date
2020-11-02  36.60     1.052   1.113  3.03  1889.90  23.975
2020-11-03  37.44     1.077   1.132  2.88  1908.30  24.170
2020-11-04  38.97     1.108   1.167  2.63  1900.15  23.975
2020-11-05  38.56     1.116   1.162  2.69  1938.45  24.570
2020-11-06  36.97     1.084   1.145  2.67  1940.80  25.780

oil         float64
gasoline    float64
diesel      float64
ng          float64
gold        float64
silver      float64
dtype: object

In [86]:
commodity_daily_returns = commodity_price_df.pct_change().dropna()

In [123]:
commodity_daily_returns.head()

                 oil  gasoline    diesel        ng      gold    silver
Date
2020-11-03  0.022951  0.023764  0.017071 -0.049505  0.009736  0.008133
2020-11-04  0.040865  0.028784  0.030919 -0.086806 -0.004271 -0.008068
2020-11-05 -0.010521  0.007220 -0.004284  0.022814  0.020156  0.024818
2020-11-06 -0.041234 -0.028674 -0.014630 -0.007435  0.001212  0.049247
2020-11-09  0.083311  0.071033  0.059389 -0.014981 -0.037871 -0.026183

In [107]:
equity_price_df = pd.read_csv(
    Path('../../data/rawdata/equity_prices.csv'),
    parse_dates=True, 
    infer_datetime_format=True
)


#Check dataframe and data types

display(equity_price_df.head())
equity_price_df.dtypes

equity_price_df['time'] = pd.to_datetime(equity_price_df['time'])

,time,AAPL,MSFT,GOOG,GOOGL,AMZN,TSLA,FB,NVDA,TSM,...,DOV,ON,KMX,MPWR,RCI,TEF,ET,GWW,VIACA,EIX
0,2020-11-02 00:00:00-05:00,108.770,202.32,1625.44,1623.17,3004.48,400.51,261.480,503.37,85.710,...,114.86,24.38,89.08,315.83,41.11,3.40,5.160,363.24,30.7900,57.56
1,2020-11-03 00:00:00-05:00,110.375,206.12,1649.28,1643.49,3046.25,423.74,265.080,520.79,87.695,...,117.12,25.05,93.12,314.40,41.27,3.43,5.500,371.18,31.2900,58.41
2,2020-11-04 00:00:00-05:00,114.940,216.32,1749.14,1747.04,3241.16,420.91,287.450,551.78,89.450,...,114.07,25.89,91.55,334.91,41.98,3.39,5.350,374.74,30.9900,57.47
3,2020-11-05 00:00:00-05:00,118.990,223.29,1764.48,1762.61,3322.00,438.09,294.715,566.41,90.430,...,117.37,26.44,93.34,357.23,42.62,3.45,5.355,378.96,32.3543,59.37
4,2020-11-06 00:00:00-05:00,118.685,223.62,1762.24,1759.40,3310.41,429.92,293.410,582.59,91.370,...,116.43,26.58,92.70,356.59,42.44,3.36,5.110,390.64,30.4000,58.32

In [108]:
equity_price_df['time'] = equity_price_df['time'].apply(lambda x: x.strftime('%Y-%m-%d'))

In [119]:
equity_price_df = equity_price_df.set_index('time')

In [133]:
#equity_price_df.dtypes

equity_daily_returns = equity_price_df.pct_change()

In [134]:
equity_daily_returns.head()

,AAPL,MSFT,GOOG,GOOGL,AMZN,TSLA,FB,NVDA,TSM,JPM,...,DOV,ON,KMX,MPWR,RCI,TEF,ET,GWW,VIACA,EIX
time,,,,,,,,,,,,,,,,,,,,,
2020-11-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-11-03,0.014756,0.018782,0.014667,0.012519,0.013903,0.058001,0.013768,0.034607,0.023159,0.031325,...,0.019676,0.027482,0.045352,-0.004528,0.003892,0.008824,0.065891,0.021859,0.016239,0.014767
2020-11-04,0.041359,0.049486,0.060548,0.063006,0.063984,-0.006679,0.084390,0.059506,0.020013,-0.030567,...,-0.026042,0.033533,-0.016860,0.065235,0.017204,-0.011662,-0.027273,0.009591,-0.009588,-0.016093
2020-11-05,0.035236,0.032221,0.008770,0.008912,0.024942,0.040816,0.025274,0.026514,0.010956,0.041209,...,0.028930,0.021244,0.019552,0.066645,0.015245,0.017699,0.000935,0.011261,0.044024,0.033061
2020-11-06,-0.002563,0.001478,-0.001269,-0.001821,-0.003489,-0.018649,-0.004428,0.028566,0.010395,-0.012937,...,-0.008009,0.005295,-0.006857,-0.001792,-0.004223,-0.026087,-0.045752,0.030821,-0.060403,-0.017686

In [131]:
equity_daily_returns = equity_daily_returns.isnull().sum().sort_values()

In [132]:
equity_daily_returns.tail(25)

EQIX      1
CI        1
BMO       1
WDAY      1
ADSK      1
IBN       1
ITW       1
DASH     27
ABNB     28
AFRM     50
STLA     53
FERG     86
RBLX     88
CPNG     89
SONY    104
COIN    112
APP     113
PATH    117
TTE     153
DIDI    166
LCID    183
HOOD    186
DNA     221
TOST    224
GFS     250
dtype: int64